@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
}

.title{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #6FB7FF;
}

.title2{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #9B1D20;
}

.title3{
  -webkit-text-stroke-width: 0.75px;
  -webkit-text-stroke-color: #4B0082;
}

